

 table {
  margin: 20px auto;
  background: yellow; 
  width: 1000px;
  border-radius:5px
 }

tr:first-child {
  background: greenyellow;
  font-weight: bold
  } 

td {
  text-align: center;
  font-size: 20px;
  height: 100px;
  border: 1px solid black
}